
@{
    ViewData["Title"] = "Safari Pizza";
    Layout = "~/Views/Shared/_LayoutOrderMenu.cshtml";
}

<div class="container" style=" padding-top:5%;">
    <div class="menuitem">
        <div class="container">
            <div class="row">
                <h3>MEAT LOVERS </h3>
                <img src="~/resources/imgs/Calzone_MeatLovers.jpg">
                <p>Thinly sliced steak, sauteed onions and green peppers, fresh mushrooms and our signature gourmet cheese blend smothered in homemade tomato sauce and wrapped in a golden-brown crust, brushed with rich garlic butter and sprinkled Parmesan cheese<br> 1620 Cal.</p>
            </div>
        </div>
    </div>

    <div class="menuitem">
        <div class="container">
            <div class="row">
                <h3>BUFFALO CHICKEN</h3>
                <img src="~/resources/imgs/BuffaloChickenCalzone.jpg">
                <p>Buffalo Sauce, Mozzarella, Spicy Chicken, Tomatoes, Arugula<br> 1160 Cal.</p>
            </div>
        </div>
    </div>

    <div class="menuitem">
        <div class="container">
            <div class="row">
                <h3>SPINACH RICOTTA &amp; SAUSAGE</h3>
                <img src="~/resources/imgs/SpinachRicottaSausageCalzone.jpg">
                <p>Classic Red, Mozzarella, Pepperoni, Sausage, Green Pepper, Red Onion, Mushrooms<br> 1250 Cal.</p>
            </div>
        </div>
    </div>

    <div class="menuitem">
        <div class="container">
            <div class="row">
                <h3>CHICKEN &amp; SAUSAGE</h3>
                <img src="~/resources/imgs/CheesySausageCalzone.jpg">
                <p>Spicy Italian sausage, tender green peppers and onions, our signature gourmet cheese blend and homemade tomato sauce wrapped in a golden-brown crust, brushed with rich garlic butter and sprinkled Parmesan cheese.<br> 1450 Cal.</p>
            </div>
        </div>
    </div>

    <div class="menuitem">
        <div class="container">
            <div class="row">
                <h3>HAM &amp; CHEESE</h3>
                <img src="~/resources/imgs/ham-and-cheese-calzone.jpg">
                <p>Mozzarella, Cheddar Jack, Ricotta, Ham<br> 1334 Cal.</p>
            </div>
        </div>
    </div>

    <div class="menuitem">
        <div class="container">
            <div class="row">
                <h3>CHEESE &amp; MUSHROOM</h3>
                <img src="~/resources/imgs/Cheese_Mushroom_Calzone_-_(1865)_.jpg">
                <p>Ranch, Mozzarella, Chicken, Bacon, Red Pepper, Green Onion, Mushrooms<br> 1309 Cal.</p>
            </div>
        </div>
    </div>

    <div class="menuitem">
        <div class="container">
            <div class="row">
                <h3>CHICKEN &amp; BASIL</h3>
                <img src="~/resources/imgs/chickenbasilcalzones.jpg">
                <p>Tender grilled white chicken meat, fresh tomatoes, sauteed onions and green peppers, crispy bacon and Sarpino's signature gourmet cheese blend wrapped in a golden-brown crust, brushed with rich garlic butter and sprinkled Parmesan cheese.<br> 1290 Cal.</p>
            </div>
        </div>
    </div>

</div>


