
@{
    ViewData["Title"] = "Safari Pizza";
    Layout = "~/Views/Shared/_LayoutOrderMenu.cshtml";
}

    <div class="container" style=" padding-top:5%; ">

        <h1>Drinks Options</h1>
                <div class="menuitem">
                    <div class="container">
                        <div class="row">
                            <h3>BIG RED</h3>
                            <img src="~/resources/imgs/BigRedSoda.jpg">
                            <br /><span style="color:green"> $7.99 </span><br />
                            <p><br>1250 Cal/Liter</p><br />
                            <button id="drinksBtn" type="button" class="btn btn-sm  btn-primary">Order Now</button>
                        </div>
                    </div>
                </div>

                <div class="menuitem">
                    <div class="container">
                        <div class="row">
                            <h3>MOUNTAIN DEW</h3>
                            <img src="~/resources/imgs/MountainDew.jpg">
                            <p><br>1250 Cal/Liter</p><br />
                            <button type="button" class="btn btn-sm btn-primary">Order Now</button>
                        </div>
                    </div>
                </div>

                <div class="menuitem">
                    <div class="container">
                        <div class="row">
                            <h3>MOUNTAIN DEW VOLTAGE</h3>
                            <img src="~/resources/imgs/MountainDewVoltage.jpg">
                            <p><br> 1250 Cal/Liter</p><br />
                            <button type="button" class="btn btn-sm btn-primary">Order Now</button>
                        </div>
                    </div>
                </div>

                <div class="menuitem">
                    <div class="container">
                        <div class="row">
                            <h3>NEHI PEACH</h3>
                            <img src="~/resources/imgs/Nehi Peach Soda.jpg">
                            <p><br>1250 Cal/Liter</p><br />
                            <button type="button" class="btn btn-sm btn-primary">Order Now</button>
                        </div>
                    </div>
                </div>

                <div class="menuitem">
                    <div class="container">
                        <div class="row">
                            <h3>FANTA</h3>
                            <img src="~/resources/imgs/Fanta.jpg">
                            <p><br> 1250 Cal/Liter</p><br />
                            <button type="button" class="btn btn-sm btn-primary">Order Now</button>
                        </div>
                    </div>
                </div>

                <div class="menuitem">
                    <div class="container">
                        <div class="row">
                            <h3>ORANGE CREAM</h3>
                            <img src="~/resources/imgs/OrangeCreamSoda.jpg">
                            <p><br>750 Cal/Liter</p><br />
                            <button type="button" class="btn btn-sm btn-primary">Order Now</button>
                        </div>
                    </div>
                </div>

                <div class="menuitem">
                    <div class="container">
                        <div class="row">
                            <h3>STRAWBERRY CREAM</h3>
                            <img src="~/resources/imgs/strawberry-cream-soda-16oz.jpg">
                            <p><br>750 Cal/Liter</p><br />
                            <button type="button" class="btn btn-sm btn-primary">Order Now</button>
                        </div>
                    </div>
                </div>
    </div>

<!-- Drinks Modal -->
<div id="drinksModal" class="modal" style="position:fixed; top:50%; left:50%; transform: translate(-50%, -50%); ">

    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-header">
            <span class="close">&times;</span>
            <h2>Make your Order</h2>
        </div>
        <div class="modal-body">
            <p>Some text in the Modal Body</p>
            <p>Some other text...</p>
        </div>
        <div class="modal-footer">
            <h3>Modal Footer</h3>
        </div>
    </div>

</div>