
@{
    ViewData["Title"] = "Safari Pizza";
    Layout = "~/Views/Shared/_LayoutOrderMenu.cshtml";
}

    <div class="container" style=" padding-top:5%; ">

        <div class="menuitem">
            <div class="container">
                <div class="row">
                    <h3>BIG RED</h3>
                    <img src="~/resources/imgs/BigRedSoda.jpg">
                    <p><br>750 Cal/Liter</p>
                </div>
            </div>
        </div>

        <div class="menuitem">
            <div class="container">
                <div class="row">
                    <h3>MOUNTAIN DEW</h3>
                    <img src="~/resources/imgs/MountainDew.jpg">
                    <p><br>750 Cal/Liter</p>
                </div>
            </div>
        </div>

        <div class="menuitem">
            <div class="container">
                <div class="row">
                    <h3>MOUNTAIN DEW VOLTAGE</h3>
                    <img src="~/resources/imgs/MountainDewVoltage.jpg">
                    <p><br> 750 Cal/Liter</p>
                </div>
            </div>
        </div>

        <div class="menuitem">
            <div class="container">
                <div class="row">
                    <h3>NEHI PEACH</h3>
                    <img src="~/resources/imgs/Nehi Peach Soda.jpg">
                    <p><br>950 Cal/Liter</p>
                </div>
            </div>
        </div>

        <div class="menuitem">
            <div class="container">
                <div class="row">
                    <h3>FANTA</h3>
                    <img src="~/resources/imgs/Fanta.jpg">
                    <p><br> 750 Cal/Liter</p>
                </div>
            </div>
        </div>

        <div class="menuitem">
            <div class="container">
                <div class="row">
                    <h3>ORANGE CREAM</h3>
                    <img src="~/resources/imgs/OrangeCreamSoda.jpg">
                    <p><br>950 Cal/Liter</p>
                </div>
            </div>
        </div>

        <div class="menuitem">
            <div class="container">
                <div class="row">
                    <h3>STRAWBERRY CREAM</h3>
                    <img src="~/resources/imgs/strawberry-cream-soda-16oz.jpg">
                    <p><br>950 Cal/Liter</p>
                </div>
            </div>

        </div>

    </div>