@{
    ViewData["Title"] = "Safari Pizza";
    Layout = "~/Views/Shared/_LayoutOrderMenu.cshtml";
}

<div id="MenuContainer" role="region" aria-label="menu information" style="padding-top:5%">
    <div class="menuitem">
        <div class="container">
            <div class="row">
                <h3>MEAT LOVERS BREAKFAST</h3>
                <img src="~/resources/imgs/MeatLoversBreakfastPizza.jpg">
                <p>Pepperoni, Canadian bacon, hand-pinched Italian sausage and applewood smoked bacon over homemade pizza sauce, smothered in mozzarella<br> 1425 Cal.</p><br />
                <button type="button" class="btn btn-primary">Order Now</button>
            </div>
        </div>
    </div>

    <div class="menuitem">
        <div class="container">
            <div class="row">
                <h3>PUTTANESCA</h3>
                <img src="~/resources/imgs/pizza_puttanesca.jpg">
                <p>Spinach, bruschetta tomatoes, Italian sausage, extra mozzarella cheese, and sprinkled with parmesan cheese and spicy crushed red pepper<br> 960 Cal.</p>
            </div>
        </div>
    </div>

    <div class="menuitem">
        <div class="container">
            <div class="row">
                <h3>PORCINI</h3>
                <img src="~/resources/imgs/blceleryporcinipizza.jpg">
                <p>A traditional Neapolitan pizza with fresh mozzarella, basil, a dash of sea salt and olive oil with crushed Italian tomatoes as a base.<br> 1345 Cal.</p>
            </div>
        </div>
    </div>

    <div class="menuitem">
        <div class="container">
            <div class="row">
                <h3>TRUFFLED MUSHROOM</h3>
                <img src="~/resources/imgs/truffledmushrrom.jpg">
                <p>Rosemary & herb crust, garlic alfredo, freshly grated mozzarella, truffled roasted mushroom, spinach, black pepper, parmesan<br> 960 Cal.</p>
            </div>
        </div>
    </div>

    <div class="menuitem">
        <div class="container">
            <div class="row">
                <h3>BUFFALO CHICKEN <img src="~/resources/imgs/spicy.png"></h3>
                <img src="~/resources/imgs/buffalochicken.jpg">
                <p>Traditional crust, spicy buffalo sauce, freshly grated mozzarella, all-natural chicken breast, banana & red pepper, blue cheese dressing, basil<br> 820 Cal.</p>
            </div>
        </div>
    </div>

    <div class="menuitem">
        <div class="container">
            <div class="row">
                <h3>THE BEAST</h3>
                <img src="~/resources/imgs/thebeast.jpg">
                <p>Traditional crust, tomato blend, freshly grated mozzarella, meatball, pepperoni, ham, bacon, sausage<br> 1197 Cal.</p>
            </div>
        </div>
    </div>

    <div class="menuitem">
        <div class="container">
            <div class="row">
                <h3>THE VEGAN</h3>
                <img src="~/resources/imgs/vegan.jpg">
                <p>Rosemary herb crust, tomato blend, minced garlic, vegan cheese,vegan sausage crumble, red onion, roasted red pepper, garlic, roasted broccoli, truffle salt, basil<br> 550 Cal.</p>
            </div>
        </div>
    </div>

    <div class="menuitem">
        <div class="container">
            <div class="row">
                <h3>THE VEGETARIAN</h3>
                <img src="~/resources/imgs/VeggiePizza.jpg">
                <p>Green peppers, mushrooms, black olives, tomatoes and onions over our homemade pizza sauce, smothered in mozzarella<br> 680 Cal.</p>
            </div>
        </div>
    </div>
</div>
