
@{
    ViewData["Title"] = "Safari Pizza";
    Layout = "~/Views/Shared/_LayoutOrderMenu.cshtml";
}

<div class="container" style=" padding-top:5%;">

    <div class="menuitem">
        <div class="container">
            <div class="row">
                <h3>CLASSIC CHICKEN CAESAR</h3>
                <img src="~/resources/imgs/classicChickenCaesar.jpg">
                <p>Romaine, all-natural chicken breast, parmesan, crouton, caesar dressing<br> 680 Cal.</p>
            </div>
        </div>
    </div>
    <div class="menuitem">
        <div class="container">
            <div class="row">
                <h3>CHOPPED ANTIPASTO</h3>
                <img src="~/resources//imgs/choppedAntiPasto.jpg">
                <p>Romaine, pepperoni, mozzarella, grape tomato, black olive, banana pepper, red onion, red wine vinegar and olive oil vinagrette<br> 620 Cal.</p>
            </div>
        </div>
    </div>


    <div class="menuitem">
        <div class="container">
            <div class="row">
                <h3>BACON & BLU</h3>
                <img src="~/resources/imgs/baconblu.jpg">
                <p>Romaine, bacon, red onion, grape tomato, goat cheese, blue cheese dressing<br> 420 Cal.</p>
            </div>
        </div>
    </div>

    <div class="menuitem">
        <div class="container">
            <div class="row">
                <h3>BONELESS WINGS</h3>
                <img src="~/resources/imgs/bonelesswings.jpg">
                <p>Choose Buffalo or BBQ sauce<br> 380-830 cal.</p>
            </div>
        </div>
    </div>

    <div class="menuitem">
        <div class="container">
            <div class="row">
                <h3>BONE-IN WINGS</h3>
                <img src="~/resources/imgs/boneinwings.jpg">
                <p>Buffalo or BBQ sauce<br> 300-670 cal.</p>
            </div>
        </div>
    </div>
</div>