@{
    ViewData["Title"] = "Safari Pizza";
    Layout = "~/Views/Shared/_LayoutOrderMenu.cshtml";
}

    <div class="container" style=" padding-top:5%;">
        <h1>Stromboli Options</h1>

        <div class="menuitem">
            <div class="container">
                <div class="row">
                    <h3>CHICKEN PARMESIAN</h3>
                    <img src="~/resources/imgs/Chicken_Parm_Stromboli.jpg">
                    <p>Tender grilled white chicken meat, fresh tomatoes, sauteed onions and green peppers, crispy bacon and Sarpino's signature gourmet cheese blend wrapped in a golden-brown crust, brushed with rich garlic butter and sprinkled Parmesan cheese.<span style="color:green"> $11.49 </span> <br> 1145 Cal.</p><br />
                    <button type="button" class="btn btn-sm btn-primary">Order Now</button>
                </div>
            </div>
        </div>

        <div class="menuitem">
            <div class="container">
                <div class="row">
                    <h3>MEAT LOVERS</h3>
                    <img src="~/resources/imgs/Meat-Lovers-Stromboli.jpg">
                    <p>Piping hot meatballs smothered in our signature gourmet cheese blend and famous homemade tomato sauce, and wrapped in a golden-brown crust, brushed with rich garlic butter and sprinkled Parmesan cheese.<span style="color:green"> $13.69 </span> <br> 1680 Cal.</p><br />
                    <button type="button" class="btn btn-sm btn-primary">Order Now</button>
                </div>
            </div>
        </div>

        <div class="menuitem">
            <div class="container">
                <div class="row">
                    <h3>GARLIC BUTTER</h3>
                    <img src="~/resources/imgs/Garlic Butter Stromboli.jpg">
                    <p>Sliced meatballs, spicy Italian sausage, sauteed onions and green peppers, our signature gourmet cheese blend and homemade tomato sauce wrapped in a golden-brown crust, brushed with rich garlic butter and sprinkled Parmesan cheese. <span style="color:green"> $14.99 </span><br> 1658 Cal.</p><br />
                    <button type="button" class="btn btn-sm  btn-primary">Order Now</button>
                </div>
            </div>
        </div>

        <div class="menuitem">
            <div class="container">
                <div class="row">
                    <h3>PHILLY CHEESE STEAK</h3>
                    <img src="~/resources/imgs/PhillyCheeseSteakStromboli.jpg">
                    <p>Thinly sliced steak, sauteed onions and green peppers, fresh mushrooms and our signature gourmet cheese blend smothered in homemade tomato sauce and wrapped in a golden-brown crust, brushed with rich garlic butter and sprinkled Parmesan cheese. <span style="color:green"> $12.99 </span><br> 1740 Cal.</p><br />
                    <button type="button" class="btn btn-sm btn-primary">Order Now</button>
                </div>
            </div>
        </div>

        <div class="menuitem">
            <div class="container">
                <div class="row">
                    <h3>SAUSAGE &amp; PEPPERONI</h3>
                    <img src="~/resources/imgs/stromboli-Sausage-Pepperoni.jpg">
                    <p>Spicy Italian sausage, tender green peppers and onions, our signature gourmet cheese blend and homemade tomato sauce wrapped in a golden-brown crust, brushed with rich garlic butter and sprinkled Parmesan cheese. <span style="color:green"> $11..49 </span><br> 1480 Cal.</p><br />
                    <button type="button" class="btn btn-sm btn-primary">Order Now</button>
                </div>
            </div>
        </div>

        <div class="menuitem">
            <div class="container">
                <div class="row">
                    <h3>CHEESY MEATBALL</h3>
                    <img src="~/resources/imgs/cheesymeatballstromboli.jpg">
                    <p>Sliced meatballs, spicy Italian sausage, sauteed onions and green peppers, our signature gourmet cheese blend and homemade tomato sauce wrapped in a golden-brown crust, brushed with rich garlic butter and sprinkled Parmesan cheese. <span style="color:green"> $12.99 </span><br> 1580 Cal.</p><br />
                    <button type="button" class="btn btn-sm btn-primary">Order Now</button>
                </div>
            </div>
        </div>

        <div class="menuitem">
            <div class="container">
                <div class="row">
                    <h3>CLASSIC</h3>
                    <img src="~/resources/imgs/classicstromboli.jpg">
                    <p>Mild Italian sausage, piping hot meatballs, tender onions and red bell peppers, and our signature gourmet cheese blend smothered in homemade tomato sauce and wrapped in a golden-brown crust, brushed with rich garlic butter and sprinkled Parmesan cheese. <span style="color:green"> $10.50 </span><br> 1385 Cal.</p><br />
                    <button type="button" class="btn btn-sm btn-primary">Order Now</button>
                </div>
            </div>
        </div>

    </div>

