@{
    ViewData["Title"] = "Safari Pizza";
    Layout = "~/Views/Shared/_LayoutWelcome.cshtml";
}

<div class="text-center">

    <img src="resources/imgs/WelcomePizza.jpg" alt="ravine" style="width:100%;">

    <h1 class="centered" style="Font-Family:Playball; color: white">Welcome to Safari Pizza</h1>

</div>